@page "/todo"
@using Microsoft.AspNetCore.Identity
@using TodoApp.Services
@using TodoApp.Data
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Todo List</PageTitle>

<AuthorizeView>
    <h1>Hello @context.User.Identity?.Name! You have @todos.Count(t=> !t.IsDone) todos left.</h1>
    <ul>
        @foreach (var todo in todos){
            <li>
                <input type="checkbox" checked=@todo.IsDone @onchange="async e => {
                    todo.IsDone = (bool?)e.Value ?? false;
                    await UpdateTodo(todo);
                }"/>
                <input value="@todo.Title" @onchange="async e => {
                    todo.Title = (string?)e.Value?.ToString() ?? string.Empty;
                    await UpdateTodo(todo);
                }"/>
                <button @onclick="() => RemoveTodo(todo)">Remove</button>
            </li>
        }
    </ul>

    <input @bind="newTodo"/>
    <button @onclick="AddTodo">Add todo</button>
</AuthorizeView>


@inject ITodoService todoService
@inject AuthenticationStateProvider authenticationStateProvider
@inject UserManager<ApplicationUser> userManager
@inject IHttpContextAccessor httpContextAccessor

@code {
    private List<TodoItem> todos = new();

    public string newTodo = "";

    private async Task RefreshTodoList()
    {
        todos = await todoService.GetItemsAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshTodoList();
        await base.OnInitializedAsync();
    }

    public async Task AddTodo(){
        if (!string.IsNullOrWhiteSpace(newTodo)){

            var currentState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var currentUser = await userManager.GetUserAsync(currentState.User);
            if (currentUser?.Id == null){
                return;
            }

            var item = new TodoItem{
                Title = newTodo,
                UserId = Guid.Parse(currentUser.Id),
            };

            await todoService.AddItemAsync(item);

            await RefreshTodoList();
            newTodo= string.Empty;
        }
    }

    public async Task UpdateTodo(TodoItem item)
    {
        await todoService.UpdateItemAsync(item);
        await RefreshTodoList();
    }

    public async Task RemoveTodo(TodoItem toRemove)
    {
        await todoService.DeleteItemAsync(toRemove.Id);
        await RefreshTodoList();
    }
}