* {
    margin: 0;
    padding: 0;
}

header * {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.day {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto 1fr;
}

.day span {
    text-align: center;
    font-weight: bold;
}

.weekday ::deep {
    text-align: center;
}

ul {
    height: 120px;
    overflow-y: scroll;
}

.in-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

::deep .task-menu {
    padding: 2px;
}