* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[type="checkbox"]{
    margin: 10px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
}

.action-btn-gp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.todo-item {
    border: 1px solid navy;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 0.625rem;
}

.todo-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo-item:nth-child(even) {
    background-color: aqua;
}

.todo-item:nth-child(odd) {
    background-color: aquamarine;
}