@page "/todo"
@using Microsoft.AspNetCore.Identity
@using TodoApp.Factories
@using TodoApp.Services
@using TodoApp.Data
@using Microsoft.AspNetCore.Authorization
@using TodoApp.Enums
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Todo List</PageTitle>

<AuthorizeView>
    <h1>Hello @context.User.Identity?.Name! You have @todos.Count(t=> !t.IsDone) todos left.</h1>
    
    <div class="todo-grid">
        <h2>Pending Todos</h2>
        <div class="btns-group">
            <button @onclick="RefreshTodoList">Refresh</button>
            
            <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="AddTodo" >Add Todo</MudButton>
            <button @onclick="SaveItems">Save Items</button>
        </div>
        <ul class="todo-list">
            @foreach (var todo in todos){
                <li class="todo-item">
                    <input type="checkbox" checked=@todo.IsDone @onchange="async e => {
                        todo.IsDone = (bool?)e.Value ?? false;
                    }"/>
                    <input value="@todo.Title" @onchange="async e => {
                        todo.Title = (string?)e.Value?.ToString() ?? string.Empty;
                    }"/>
                    <!-- <button @onclick="() => RemoveTodo(todo)">Remove</button> -->
                </li>
            }
        </ul>
    </div>
</AuthorizeView>


@code {
    
}