body {
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.day {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}